html, body {
    height: 100%;
    margin: 0;
    font-family: Raleway;
}

.header {
    height: 60px;
    margin: 0;
    background-color: #d49d6b;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-toggler {
    margin-left: 15px;
    border-width: 0;
    border-radius: 7%;
    --bs-navbar-toggler-border-radius: 0;
    --bs-navbar-toggler-focus-width: 0;
    transition: 0.25s;
}

.navbar-toggler:hover, .test:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.home-button {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.55);
    height: 38px;
    width: 54px;
    background-color: transparent;
    border-width: 0;
    border-radius: 7%;
    transition: 0.25s;
}


.home-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.content {
    display: flex;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f9fafb;
    overflow: hidden;
    transition: 0.5s;
    width: 200px;
    min-width: 200px;
}

.sidebar > div {
    margin: 0 30px;
    min-width: 140px;
}

hr {
    border-top: 1px solid #191919;
    width: 120px;
    margin: -15px 30px;
    
}

.main-content, .sidebar {
    padding-top: 30px;
    color: #1F2937;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: #191919;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
